<a href="https://colab.research.google.com/github/Tanvi-Gajula/Projects/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 DATA SCIENCE
Dictionary:
Name:Tanvi Gajula
Regno:21MIA1076

1)create a dictionary with student no as key and name as values for 5 students(Dict1)

2)print the name of student with regno 21MIA1110

3)create dictionary with  student no and cgpa for 5 students

4)print the cgpa of a particular student(eg.21MIA1110)

5)Remove the student 21MIA1110 from your Dict1

6)add the students 21MIA1120 and 21MIA2220 with their names in Dict1

7)print the no of items in Dict1 and Dict2

8)add the students 21MIA1120 and 21MIA2220 in Dict2 by including their cgpa

9)add the subjects offer in this semester into the Dict2

10)check whether the subject "Data Science" is offered using Dict2

11)add one more subject "Ethics" into your Dict2 in appropriate place

12)check whether student 21MIA1112 is present in Dict2, if found ,print CGPA

13)Delete the student details(21MIA1112) from both dictionary

14)initialize dictionary 1 value with None and dictionary 2 value with 0

15)use dictionary functions such as copy(),clear(),pop(),str(),len()

16)replace elif ladder and switch case dictionary

In [ ]:
mydict1= { '21MIA1076' :'tanvi', '21MIA1110':'ayushi','21MIA1120':'vishali','21MIA2220':'priya','21MIA1112':'sahil'}
print(mydict1)

{'21MIA1076': 'tanvi', '21MIA1110': 'ayushi', '21MIA1120': 'vishali', '21MIA2220': 'priya', '21MIA1112': 'sahil'}

In [ ]:
print(mydict1['21MIA1110'])

ayushi

In [ ]:
mydict2= { '21MIA1076' :7.8, '21MIA1110':9.8,'21MIA1120':9.0,'21MIA2220':8.4,'21MIA1112':9.3}
print(mydict2)

{'21MIA1076': 7.8, '21MIA1110': 9.8, '21MIA1120': 9.0, '21MIA2220': 8.4, '21MIA1112': 9.3}

In [ ]:
print(mydict2['21MIA1110'])

9.8

In [ ]:
mydict1= { '21MIA1076' :'tanvi', '21MIA1110':'ayushi','21MIA1120':'vishali','21MIA2220':'priya','21MIA1112':'sahil'}
mydict1.pop("21MIA1110")
print(mydict1)

{'21MIA1076': 'tanvi', '21MIA1120': 'vishali', '21MIA2220': 'priya', '21MIA1112': 'sahil'}

In [ ]:
mydict1["21MIA1120"] = "Bhavya"
mydict1["21MIA2220"] = "pinky"
print(mydict1)

{'21MIA1076': 'tanvi', '21MIA1120': 'Bhavya', '21MIA2220': 'pinky', '21MIA1112': 'sahil'}

In [ ]:
print(len(mydict1))
print(len(mydict2))

4
5

In [ ]:
mydict2["21MIA1120"] = 9.6
mydict2["21MIA2220"] = 7.5
print(mydict2)

{'21MIA1076': 7.8, '21MIA1110': 9.8, '21MIA1120': 9.6, '21MIA2220': 7.5, '21MIA1112': 9.3}

In [ ]:
mydict2={'21MIA1076': 7.8, '21MIA1110': 9.8, '21MIA1120': 9.6, '21MIA2220': 7.5, '21MIA1112': 9.3}
mydict2["Subjects"] =["Science","Maths","English","DataScience"]
print(mydict2)

{'21MIA1076': 7.8, '21MIA1110': 9.8, '21MIA1120': 9.6, '21MIA2220': 7.5, '21MIA1112': 9.3, 'Subjects': ['Science', 'Maths', 'English', 'DataScience']}

In [ ]:
mydict2={'21MIA1076': 7.8, '21MIA1110': 9.8, '21MIA1120': 9.6, '21MIA2220': 7.5, '21MIA1112': 9.3, 'Subjects': ['Science', 'Maths', 'English', 'DataScience']}
list=mydict2['Subjects']
for i in list:
  if i == "DataScience":
      print("Data Science is present")

Data Science is present

In [ ]:
mydict2['Subjects'][3]='ethics'
print(mydict2)

{'21MIA1076': 7.8, '21MIA1110': 9.8, '21MIA1120': 9.6, '21MIA2220': 7.5, '21MIA1112': 9.3, 'Subjects': ['Science', 'Maths', 'English', 'ethics']}

In [ ]:
print('21MIA1120' in mydict2)
print(mydict2['21MIA1120'])

True
9.6

In [ ]:
del mydict1['21MIA1120']
del mydict2['21MIA1120']

In [ ]:
mydict3 = dict.fromkeys(['21MIA1066','21MIA1076','21MIA1069'],None)
mydict3

{'21MIA1066': None, '21MIA1076': None, '21MIA1069': None}

In [ ]:
telephone={"John Paul":[9876322342],"Vishali":[9732313113],"Michel John":[7839939222,8732414123]}
for i,j in telephone.items():
  if "John" in i:
    for k in j:
      print(k)

9876322342
7839939222
8732414123

In [ ]:
team={"Rajat":"Punjab Tiger","Tarun":"Mumbai Indians","Jatin":"Punjab Tiger","Vishwas":"Delhi Dragons","Bunny":"Mumbai Indians","Utkarsh":"Punjab Tiger"}
m=input("Enter the name of the team:")
for i,j in team.items():
 if m==j:
    for k in i:
      print(k)

Enter the name of the team:Mumbai Indians
T
a
r
u
n
B
u
n
n
y