<a href="https://colab.research.google.com/github/Tanvi-Gajula/Projects/blob/main/listproblems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist=['Tanvi',18,2004,92,1] #List creation
print("Details:",mylist)
print("yearofbirth:",mylist[2]) #indexing
print("age and yearofbirth:",mylist[1:3]) #slicing
mylist[3]=80 ##updation
print("After updating 12th marks to 10th marks:",mylist) 
del mylist[-1] #deletion
print("After deleting no of siblings:",mylist)

Details: ['Tanvi', 18, 2004, 92, 1]
yearofbirth: 2004
age and yearofbirth: [18, 2004]
After updating 12th marks to 10th marks: ['Tanvi', 18, 2004, 80, 1]
After deleting no of siblings: ['Tanvi', 18, 2004, 80]

In [ ]:
mylist2=[99.7,"Chennai",55,"VIT",21] #list creation
print(len(mylist)) #length of list
mylist3=[22,9.7] #list creation
print(mylist2+mylist3) #combining the content of two lists
print(mylist2[1]*3) #repetition of elements in list

4
[99.7, 'Chennai', 55, 'VIT', 21, 22, 9.7]
ChennaiChennaiChennai

basic operations in list

In [ ]:
A = [[1,2,3],[5,3,1],[7,9,8]]
B = [[3,4],[12,4],[8,14]]
 
# retrieving the sizes/dimensions of the matrices
p = len(A)
q = len(A[0])
 
t = len(B)
r = len(B[0])
 
if(q!=t):
   print("Error! Matrix sizes are not compatible")
   quit()
 
# creating the product matrix of dimensions p√ór
# and filling the matrix with 0 entries
C = []
for row in range(p):
   curr_row = []
   for col in range(r):
       curr_row.append(0)
   C.append(curr_row)
 
 
# performing the matrix multiplication
for i in range(p):
   for j in range(r):
       curr_val = 0
       for k in range(q):
           curr_val += A[i][k]*B[k][j]
       C[i][j] = curr_val
 
print(C)

[[51, 54], [59, 46], [193, 176]]

Multiplication of matrix

In [ ]:
mymatrix = [[3, 4, 3], [8, 7, 6], [2, 1, 5]]
print(mymatrix[2])
print(mymatrix[0][2])

[2, 1, 5]
3

Matrix

In [ ]:
mylist5=[1,2,3,4,5] #List creation
mylist5.insert(3,8) #insertion
print(mylist5)
mylist5.remove(3) #deletion
print(mylist5)
mylist5.sort() #Sorting
print(mylist5)
mylist5.reverse() #reversing the list
print(mylist5)
mylist5.pop(2) #poping the elememnts of list
print(mylist5)

[1, 2, 3, 8, 4, 5]
[1, 2, 8, 4, 5]
[1, 2, 4, 5, 8]
[8, 5, 4, 2, 1]
[8, 5, 2, 1]

List Methods

In [ ]:
mylist4=['A','B','C','D'] #List creation
for i in 'ABCD':
    mylist4.append(i * 4)
print(mylist4)
#another way
l = [i * 4 for i in 'ABCD']
print(l)

['A', 'B', 'C', 'D', 'AAAA', 'BBBB', 'CCCC', 'DDDD']
['AAAA', 'BBBB', 'CCCC', 'DDDD']

List Comprehension