<a href="https://colab.research.google.com/github/Tanvi-Gajula/Projects/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Tanvi Gajula
Reg no: 21MIA1076

1)Create a data frame for the stocks that are available in the shop by using pandas?

In [ ]:
import numpy as np
import pandas as pd
#creation of list
data2=['tops','jeans','kurtis','suit','sarree']
#create a dataframe from list
df2=pd.DataFrame(data2,columns=["Items"])
print("Dataframe:")
print(df2)

Dataframe:
    Items
0    tops
1   jeans
2  kurtis
3    suit
4  sarree

2)create a data frame of all the items with their cost by using pandas?

In [ ]:
#creation of list on lists
data3=[["suit",700],["tops",500],["jeans",1000],["frocks",800]]
df3=pd.DataFrame(data3,columns=["Items","Rate"])
print(df3)

    Items  Rate
0    suit   700
1    tops   500
2   jeans  1000
3  frocks   800

3)create a data frame where you have mention about the floor inforamtion of the items?

In [ ]:
#naming the index
#adding 2 list seperatly
data4={"Items":["tops","jeans","suit","shirts"]}
df4=pd.DataFrame(data4,index=["floor=1","floor=2","floor=3","floor=4"])
print(df4)

          Items
floor=1    tops
floor=2   jeans
floor=3    suit
floor=4  shirts

4)Create a data frame and extract only price information by using pandas?

In [ ]:
#selection of column from data frame
data10 = {'Items' : pd.Series(["tops","jeans","suit","shirts"], index=[1,2,3,4]),
          'Price' : pd.Series([400,1000,800,500],index =[1,2,3,4])}
f6=pd.DataFrame(data10)
print("Price of the material are:")   
#only one column information  
print(f6['Price'])

Price of the material are:
1     400
2    1000
3     800
4     500
Name: Price, dtype: int64

5) Add new information in the above data frame where gender information is also given that whether its available for both or for one only?

In [ ]:
#addtion of new column
data10 = {'Items' : pd.Series(["tops","jeans","suit","shirts"], index=[1,2,3,4]),
          'Price' : pd.Series([400,1000,800,500],index =[1,2,3,4])}
f6=pd.DataFrame(data10)
print(f6)
#adding new column
print("adding a new column by passing as series:")
f6['Gender']=pd.Series(["F","M&F","F","M"],index =[1,2,3,4])
print(f6)

    Items  Price
1    tops    400
2   jeans   1000
3    suit    800
4  shirts    500
adding a new column by passing as series:
    Items  Price Gender
1    tops    400      F
2   jeans   1000    M&F
3    suit    800      F
4  shirts    500      M

6)By using pandas delete the information about the gender in the above data frame?

In [ ]:
print("deleting the Gender column using pop function:")
#using the pop function for the deletion of the gender information in the data frame 
f6.pop("Gender")
print(f6)

deleting the Gender column using pop function:
    Items  Price
1    tops    400
2   jeans   1000
3    suit    800
4  shirts    500

7)By using pandas you have created the data frame where you have write all the information of all the customer requirement by using some function retrieve the particular customer information?

In [ ]:
#selection by label
data7={"Item":pd.Series(["tops","jeans","shirts"],index=["siya","riya","jatin"]),
       "colour":pd.Series(["yellow","black","white"],index=["siya","riya","jatin"]),
       "size":pd.Series(["medium","small","large"],index=["siya","riya","jatin"]),
       "range":pd.Series([400,1500,2000],index=["siya","riya","jatin"])}
#printing of data frame 
df7=pd.DataFrame(data7)
print(df7)
print("Retriving data of riya")
#using loc function for extraxting the particular customer information
print(df7.loc["riya"])

         Item  colour    size  range
siya     tops  yellow  medium    400
riya    jeans   black   small   1500
jatin  shirts   white   large   2000
Retriving data of riya
Item      jeans
colour    black
size      small
range      1500
Name: riya, dtype: object

8)By using slicing function extract riya and jatin information from the above data frame?

In [ ]:
#getting information with slicing
print("details of all the riya and jatin:")
print(df7[1:3])

details of all the riya and jatin:
         Item colour   size  range
riya    jeans  black  small   1500
jatin  shirts  white  large   2000

9)Create a data frame where person had bought two material write the total price of that two material as a new column?

In [ ]:
data10 = {'item-1' : pd.Series([1000,1500,2000], index=['siya','ram','riya']),
          'item-2' :pd.Series([4000,3000,1000],index =['siya','ram','riya'])}
f6=pd.DataFrame(data10)
print(f6)          
#addtion function
print("addtion of new column with the adding of two existing column:")
f6['Total']=f6['item-1']+f6['item-2']
print(f6)

      item-1  item-2
siya    1000    4000
ram     1500    3000
riya    2000    1000
addtion of new column with the adding of two existing column:
      item-1  item-2  Total
siya    1000    4000   5000
ram     1500    3000   4500
riya    2000    1000   3000

10)By using head function extract suit and tops information from the data frame?

In [ ]:
#creation of list on lists
data3=[["suit",700],["tops",500],["jeans",1000],["frocks",800]]
df3=pd.DataFrame(data3,columns=["Items","Rate"])
print(df3)
#using hrad function
df3.head(2)

    Items  Rate
0    suit   700
1    tops   500
2   jeans  1000
3  frocks   800

  Items  Rate
0  suit   700
1  tops   500

11)Create a dataframe of places with the famous places of shopping

In [ ]:
# Define a dictionary containing shopping details
mydataset = {
  'Cities': ["Mumbai", "Delhi", "Hyderabad"],
  'Places': ["Fashion street", "Sarojini nagar", "Charminar"]
}
# Convert the dictionary into DataFrame 
myvar = pd.DataFrame(mydataset)

print(myvar)

      Cities          Places
0     Mumbai  Fashion street
1      Delhi  Sarojini nagar
2  Hyderabad       Charminar

12)Analyze the datatype of shopping prices using pandas

In [ ]:
#Creation of List
a = [111.2, 700.0, 231.1]
#Creation of Series
myvar = pd.Series(a)
print(myvar)

0    111.2
1    700.0
2    231.1
dtype: float64

13)create a dataframe using pandas to display the items and its brand with their index

In [ ]:
#Creation of DataFrame
data6={
    "item":pd.Series(["Top","Eyeliner","Kurti"],index=[1,2,3]),
    "brand":pd.Series(["Max","Maybaleen","lifestyle"],index=[1,2,3])
       }
# Convert the dictionary into DataFrame 
df6=pd.DataFrame(data6)
print(df6)

       item      brand
1       Top        Max
2  Eyeliner  Maybaleen
3     Kurti  lifestyle

14)Display the brand of Eyeliner

In [ ]:
#Printing the specificed item by index
print(df6.loc[2])

item      Eyeliner
brand    Maybaleen
Name: 2, dtype: object

15)Create a DataFrame of the shopping details usingt pandas and display item and prices of shopping

In [ ]:
# Define a dictionary containing employee data
data = {'Names':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'prices':[322, 254, 229, 320],
        'Shopping places':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'items':['Silk Saree', 'Garments', 'Sandalwood', 'rose-water']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
print(df[['items', 'prices']])

        items  prices
0  Silk Saree     322
1    Garments     254
2  Sandalwood     229
3  rose-water     320

16)Create a DataFrame using pandas to know item quantity

In [ ]:
s = pd.Series([1,2,3,4],index = ['bags','books','pens','pencils'])
#retrieve the first three element
print(s[:4])

bags       1
books      2
pens       3
pencils    4
dtype: int64

17)Create a DataFrame using pandas of brand raks in india and its famous item

In [ ]:
#Creation of DataFrame
data = {
    'Brand':['H and M', 'Lifestyle', 'Max', 'Zara'],'item':['Jeans','Kurtis','Tops','Jewelery']}
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

           Brand      item
rank1    H and M     Jeans
rank2  Lifestyle    Kurtis
rank3        Max      Tops
rank4       Zara  Jewelery

18)Randomly generating the prices of items using numpy and display the prices in tabular form using pandas

In [ ]:
#importing numpy
import numpy as np
# Convert the dictionary into DataFrame 
df1 = pd.DataFrame(np.random.randn(5, 3), index=[1, 2, 3, 4, 5],columns=['one', 'two', 'three'])
print(df1)

        one       two     three
1  1.890197 -0.003086 -0.420935
2  0.903850  0.593094 -1.806005
3  0.413319  0.279452 -0.133088
4 -1.397939  0.700293  2.129857
5  0.735588 -0.405687  0.106807

19)Concatenate 2 DataFrames using pandas

In [ ]:

#Creating 2 different DataFrames
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice'],
    'prices':[322, 254, 229, 320],
    'Shopping places':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
    'items':['Silk Saree', 'Garments', 'Sandalwood', 'rose water']})

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce'],
   'prices':[500, 123, 465, 728],
  'Shopping places':['Mumbai', 'Goa', 'Hyderabad', 'Chennai'],
    'items':['Decor items', 'Sea Shells', 'lac bangles', 'Handbags']})
#DataFrame Concatenation
print(pd.concat([one,two]))

    Name  prices Shopping places        items
0   Alex     322           Delhi   Silk Saree
1    Amy     254          Kanpur     Garments
2  Allen     229       Allahabad   Sandalwood
3  Alice     320         Kannauj   rose water
0  Billy     500          Mumbai  Decor items
1  Brian     123             Goa   Sea Shells
2   Bran     465       Hyderabad  lac bangles
3  Bryce     728         Chennai     Handbags

20)Display the Rack no and item using numpy and pandas

In [ ]:
#importing numpy
import numpy as np
data = np.array(['Bag','Bottle','Stationary','Grocery'])
s = pd.Series(data,index=[11,15,22,6])
print(s)

11           Bag
15        Bottle
22    Stationary
6        Grocery
dtype: object